<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <title>Medical Sample Streamline</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">


</head>

<body>

    <h1>Medical Sample Collection Process Streamline</h1>
    <div class="container col-sm-5 form-check">
        <form action="/predict" method="POST">
            <div class="mb-3 form-group">
                <label><b>Select Test Name: </b></label><br>
                <select class="selectpicker form-control" id="testname" name="testname" required="1">
                    {% for name in test_name %}
                    <option value="{{ name }}">{{ name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div>
                <label><b>Select Sample</b></label></br>

                <div class="form-check" align="left">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="Blood"
                        checked>
                    <label class="form-check-label" for="exampleRadios1">
                        Blood
                    </label>
                </div>
                <div class="form-check" align="left">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="Swab">
                    <label class="form-check-label" for="exampleRadios2">
                        Swab
                    </label>
                </div>
                <div class="form-check" align="left">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="Urine">
                    <label class="form-check-label" for="exampleRadios3">
                        Urine
                    </label>
                </div></br>
            </div>
            <div>
                <label><b>Select Storage Type</b></label></br>
                <div class="form-check" align="left">
                    <input class="form-check-input" type="radio" name="newradio" id="exampleRadios4" value="Advanced"
                        checked>
                    <label class="form-check-label" for="exampleRadios">
                        Advanced
                    </label>
                </div>
                <div class="form-check" align="left">
                    <input class="form-check-input" type="radio" name="newradio" id="exampleRadios5" value="Normal">
                    <label class="form-check-label" for="exampleRadios">
                        Normal
                    </label>
                </div>
                <div><br>
                    <label><b>Cut off schedule</b></label></br>
                    <div class="form-check" align="left">
                        <input class="form-check-input" type="radio" name="secondradio" id="exampleRadios4"
                            value="Sample by 5pm" checked>
                        <label class="form-check-label" for="exampleRadios">
                            Sample by 5pm
                        </label>
                    </div>
                    <div class="form-check" align="left">
                        <input class="form-check-input" type="radio" name="secondradio" id="exampleRadios5"
                            value="Daily">
                        <label class="form-check-label" for="exampleRadios">
                            Daily
                        </label>
                    </div><br>
                    <div class="mb-3">
                        <label class="form-label"><b>Cut off time HH MM </b></label>
                        <input class="selectpicker form-control" type="text" name="cutofftime">
                    </div><br>
                    
                    </div><br>
                    <label><b>Traffic Conditions</b></label></br>
                    <div class="form-check" align="left">
                        <input class="form-check-input" type="radio" name="traffic" id="exampleRadios4"
                            value="Low Traffic" checked>
                        <label class="form-check-label" for="exampleRadios">
                            Low
                        </label>
                    </div>
                    <div class="form-check" align="left">
                        <input class="form-check-input" type="radio" name="traffic" id="exampleRadios5"
                            value="Medium Traffic">
                        <label class="form-check-label" for="exampleRadios">
                            Medium
                        </label>
                    </div>
                    <div class="form-check" align="left">
                        <input class="form-check-input" type="radio" name="traffic" id="exampleRadios5"
                            value="High Traffic">
                        <label class="form-check-label" for="exampleRadios">
                            High
                        </label>
                    </div><br>
                    <div class="mb-3">
                        <label class="form-label"><b>Agent's Location(KM)</b></label>
                        <input class="selectpicker form-control" type="text" name="agentlocation">
                    </div><br>
                     <div class="mb-3">
                        <label class="form-label"><b>Time Taken to Reach Patient</b></label>
                        <input class="selectpicker form-control" type="text" name="reachpatienttime">
                    </div><br>
                    <div class="mb-3">
                        <label class="form-label"><b>Time Taken for Sample Collection</b></label>
                        <input class="selectpicker form-control" type="text" name="collectiontime">
                    </div><br>
                    <div class="mb-3">
                        <label class="form-label"><b>Lab Location(KM)</b></label>
                        <input class="selectpicker form-control" type="text" name="lablocation">
                    </div><br>
                    <div class="mb-3">
                        <label class="form-label"><b>Time Taken to reach lab</b></label>
                        <input class="selectpicker form-control" type="text" name="timeoflab">
                    </div>
                    <div class="mb-3">
                        <label class="form-label"><b>Patient Age</b></label>
                        <input class="selectpicker form-control" type="text" name="patientAge">
                    </div>
                    <button type="submit" class="btn btn-primary">Predict</button>
                    <br>
                    <br>
                    <br>
                    <!-- <div>
                <label>Enter Mileage</lable>
                    <input class="selectpicker form-control" type="text" name="mileage" style="margin: 0 auto;">
                    <button type="button" class="btn btn-primary">Predict</button>
            </div> -->
        </form>
    </div>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    -->
</body>

</html>

<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Model Deployment</title>
</head>

<body>
    <h1>Used Car Price Prediction</h1>
    <form action="/predict" method="POST" style="text-align: center;">
        <label>Enter Car Make</label></br>
        <select class="selectpicker form-control" id="make" name="make" required="1">
            {% for company in make %}
            <option value="{{ company }}">{{ company }}</option>
            {% endfor %}
        </select></br>
        <label>Enter Car Model</label></br>
        <select class="selectpicker form-control" id="model" name="model" required="1">
            {% for model in models %}
            <option value="{{ model }}">{{ model }}</option>
            {% endfor %}
        </select></br>
        <label>Enter Year</label></br>
        <select class="selectpicker form-control" id="year" name="year" required="1">
            {% for year in years %}
            <option value="{{ year }}">{{ year }}</option>
            {% endfor %}
        </select></br>
        <label>Enter Mileage</lable>
            <input type="text" name="mileage" style="margin: 0 auto;">
            <button type="submit">Predict</button>

    </form>

</body>

</html>